@import url(./reset.css);


:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-grey: #BEBEBE;
  --app-white: #f1f1f1;
}

/*----------- Container -------*/

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
}

html {
    scroll-behavior: smooth;
  }

/* -----Body----- */

body{
    background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
 }
header{
    text-align: center;
    background-color:transparent;
    height: 100px;
    line-height: 60px;
    
}

h1{
    font-family: 'Rubik Vinyl';
    font-size: 55px;
    font-weight: 700;
    color: var(--app-dark-bg);
    line-height: 100px;
  }

.timer{
    color:blue;
    text-align: right;
    margin: 15px 112px 0 0 ;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

#timer {
 margin-left: 10px;
}

.text-input{
  text-align: center;
  visibility: hidden;
}

 
 h2 {
  font-size: 20px;
  color: var(--app-dark-bg);
  margin-top: 7px;
  font-weight: 600;
}

.grid{
    min-height: 350px;
    width: 1050px;
    margin: 32px auto 0;
    border-radius: 50px;
    display: grid;
    border: solid 1px var(--app-grey);
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
    justify-items: center;
    background-color: var(--app-purple);
  
}

.current{

    height: 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: var(--app-white);
    margin-top: 25px;
}

input[type=text] {

    width: 260px;
    height: 50px;
    margin-top: 72px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 50px;
    font-size: 17px;
    color: var(--app-dark-bg);
   
    text-align: center;
    line-height: 40px;
  
  }

  input::placeholder {
    color: var(--app-dark-bg);
  }
  
.button {
    display: flex;
    gap: 20px;
    align-content: space-between;
    position: bottom;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

.button + .button {
    margin-left: 100px;
}

  .start {
    cursor: pointer;
    padding: 10px 35px;
    font-size: 16px;
    background-color: var(--app-orange);
    color: var(--app-light-white);
    border-radius: 30px;
    margin-top: 20px;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(28, 0, 181, 0.3);
  }

  .start:hover {
    border: 2px solid var(--app-dark-blue2);
    cursor: pointer;
  }

  .hardMode {
    cursor: pointer;
    padding: 10px 35px;
    font-size: 16px;
    background-color: #BA0021;
    color: var(--app-light-white);
    border-radius: 30px;
    margin-top: 20px;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(28, 0, 181, 0.3);
  }
  
  .hardMode:hover {
    border: 2px solid var(--app-dark-blue2);
    cursor: pointer;
  }


  .reset {
    cursor: pointer;
    padding: 10px 35px;
    font-size: 16px;
    background-color: var(--app-grey);
    color: var(--app-red);
    border-radius: 30px;
    margin-top: 20px;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(28, 0, 181, 0.3);
    font-weight: 600;
  }
  .reset:hover {
    border: 2px solid var(--app-dark-blue2);
    cursor: pointer;
  }
  
  
  #alarm-img {
    height: 20px;
    text-align: right;
    margin-right: 10px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 115px;
  }
  .hits{
    color:var(--app-dark-bg);
    text-align: center;
    background-color: var(--app-red);
    width: 205px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
  }

  .score{
    color:var(--app-dark-bg);
    text-align: center;
    background-color: var(--app-red);
    font-size: 30px;
    font-weight: 600;
    width: 205px;
    border-radius: 30px;
  }